.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.404)
}
.leftSide {
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}
.rightSide {
    margin-left: 90%;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.404);
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.items {
    margin-right: 20px;
    font-size: 20px;
    color: #f1f1f1;
    cursor: pointer;
}
.itemss {
    position: relative;
}
.logo-img {
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    
}