.sidebar {
    height: 100%; /* 100% Full-height */
    width: 55; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    /* background:linear-gradient(45deg, rgb(223, 17, 171), rgb(61, 61, 180)); */
    background: rgba(0, 0, 21, .2);
    background-image: url("/src/assets/side1.png");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  .Link {
    margin-top: 25px;
    padding: 8px 18px 8px 10px;
    text-decoration: none;
    font-size: 35px;
    color: whitesmoke;
    display: block;
    font-weight: normal;
    transition: 0.3s;
    transition: text-shadow 0.5s;
  }
  .Link:hover{
    cursor: pointer;
    /* background :rgba(33, 3, 43, 0.521); */
    text-shadow: rgba(155, 19, 201, 0.521)22px 15px 3px; 
    font-weight: bolder;
  }
  .logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  .logo:hover{
    cursor: pointer;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar Link {font-size: 18px;}
  }