.sidebar {
    height: 100%; /* 100% Full-height */
    width: 55; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    /* background:linear-gradient(45deg, rgb(223, 17, 171), rgb(61, 61, 180)); */
    background: rgba(0, 0, 21, .2);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  .Link {
    margin-top: 15px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  .logo:hover{
    cursor: pointer;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar Link {font-size: 18px;}
  }